<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
      <label for="fecha" class="form-label">ide</label>
      <input type="date" class="form-control" id="fecha" value="" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="temperatura" class="form-label">temperatura</label>
      <input type="text" class="form-control" id="temperatura" value="°C" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
        <label for="peso" class="form-label">peso</label>
        <input type="text" class="form-control" id="peso" value="kg" required>
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="frecCardiaca" class="form-label">frecCardiaca</label>
        <input type="text" class="form-control" id="frecCardiaca" value="°C" required>
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="frecRespiratoria" class="form-label">frecRespiratoria</label>
        <input type="text" class="form-control" id="frecRespiratoria" value="°C" required>
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="estado" class="form-label">estado</label>
        <input type="text" class="form-control" id="estado" value="°C" required>
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="observaciones" class="form-label">observaciones</label>
        <input type="text" class="form-control" id="observaciones" value="°C" required>
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="medicinas" class="form-label">medicinas</label>
        <input type="text" class="form-control" id="medicinas" value="°C" required>
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form>
