<br>
<div class="container">
  <h3>Recuperar Contraseña</h3>
  <p>Si ha olvidado su contraseña puede recuperarla desde un correo electrónico registrado.</p>
</div>

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="correo" type="email" class="validate">
          <label for="correo">Correo</label>
        </div>
      </div>

    </form>
    <br>
    <div class="container">
      <button class="btn waves-effect waves-light" type="submit" name="action">Solicitar Clave</button>
    </div>
    
    <br>
  </div>


