<br>
<div class="container">
    <h3>Registar Atención Veterinaria</h3>
    <p>Anexe los datos de evidencia en la atención veterinaria al animal.</p>
    <br>
  </div>
  
  <div class="row">
    <form [formGroup]="fgValidador" (ngSubmit)="EditarVisita()" class="col s12">
        <div class="container">
            <div class="row">
                <div class="input-field col s4">
                    <input formControlName="fecha" placeholder="" id="date" type="date" class="validate">
                    <label for="date" class="active">Fecha de Atención</label>
                </div>
            </div>
        
            <div class="row">
                <div class="input-field col s4">
                  <label class="active">Veterinario que Atiende</label>
                  <select formControlName="veterinarioId" class="browser-default">
                      <option *ngFor="let v of listaVeterinarios" [value]="v.id">
                          {{v.nombres}} {{v.apellidos}}
                      </option>
                  </select>
                </div>
                <div class="input-field col s4">
                  <label class="active">Solicitud que Atiende</label>
                  <select formControlName="solicitudId" class="browser-default">
                      <option *ngFor="let s of listaSolicitudes" [value]="s.id">
                          {{s.fecha}} - {{s.mascotaId}} - {{s.detalle}}
                      </option>
                  </select>
                </div>
            </div>
            <br>
            <h6>Datos Vitales del Animal</h6>
            <br>
            <div class="row">
                <div class="input-field col s12">
                  <input formControlName="temperatura" id="temperatura" type="text" class="validate">
                  <label for="temperatura" class="active">Temperatura (C°)</label>
                </div>
                <div class="input-field col s12">
                  <input formControlName="peso" id="peso" type="text" class="validate">
                  <label for="peso" class="active">Peso (Kg)</label>
                </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input formControlName="frecCardiaca" id="frecCardiaca" type="text" class="validate">
                <label for="frecCardiaca" class="active">Frecuencia Cardiaca (lpm)</label>
              </div>
              <div class="input-field col s12">
                <input formControlName="frecRespiratoria" id="frecRespiratoria" type="text" class="validate">
                <label for="frecRespiratoria" class="active">Frecuencia Respiratoria (OM)</label>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input formControlName="observaciones" id="observaciones" type="text" class="validate">
                  <label for="observaciones" class="active">Observaciones de la Atención</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input formControlName="medicinas" id="medicinas" type="text" class="validate">
                  <label for="medicinas" class="active">Medicina</label>
                </div>
                <div class="input-field col s4">
                  <label class="active">Estado de la Visita</label>  
                  <select formControlName="estado" class="browser-default">
                        <option value="" disabled selected>Estado</option>
                        <option value="en Atención">en Atención</option>
                        <option value="Pendiente Medicamento">Pendiente Medicamento</option>
                        <option value="Cerrada">Cerrada</option>
                    </select>
                </div>
            </div>
          </div>
        </div>
        <div class="container">
            <button [disabled]="!fgValidador.valid" class="btn waves-effect waves-light" type="submit" name="action">Guardar</button>
        </div>
        
    </form>
</div>
