<div class="container">
    <h3>Editar Mascota</h3>
    <p>En esta sección se puede gestionar un propietario de mascota con sus datos personales</p>
  </div>
  
  <div class="row">
      <form class="col s12">
        <div class="container">
            <div class="row">
                <div class="input-field col s4">
                    <input placeholder="" id="first_name" type="text" class="validate">
                    <label for="first_name">Nombre</label>
                </div>
                <div class="input-field col s4">
                    <select class="browser-default">
                        <option value="" disabled selected>Tipo</option>
                        <option value="1">Gato</option>
                        <option value="2">Perro</option>
                        <option value="3">Caballo</option>
                    </select>
                </div>
                </div>
        
                <div class="row">
                <div class="input-field col s4">
                    <input id="bornDate" type="date" class="validate">
                    <label for="bornDate">Fecha Nacimiento</label>
                </div>
                <div class="input-field col s4">
                    <input placeholder="" id="raza" type="text" class="validate">
                    <label for="raza">Raza</label>
                </div>
                </div>
  
        
            <div class="row">
                <div class="input-field col s4">
                  <input placeholder="" id="estatura" type="text" class="validate">
                  <label for="estatura">Estatura</label>
                </div>
                <div class="input-field col s4">
                  <input id="pelaje" type="text" class="validate">
                  <label for="pelaje">Color Pelaje</label>
                </div>
                <div class="input-field col s4">
                  <input id="ojos" type="text" class="validate">
                  <label for="ojos">Color Ojos</label>
                </div>
              </div>
        </div>
        
      </form>
      <br>
      <div class="container">
        <button class="btn waves-effect waves-light" type="submit" name="action">Modificar</button>
      </div>
      
      <br>
    </div>
