<br>
<div class="container">
    <h3>Editar Mascota</h3>
    <p>Realiza los cambios necesarios</p>
  </div>
  <br>
  <br>
  
  <div class="row">
      <form [formGroup]="fgValidador" (ngSubmit)="EditarMascota()" class="col s12">
        <div class="container">
          <div class="row">
            <div class="input-field col s4">
              <label class="active">Usuario Propietario</label>
              <select formControlName="personaId" class="browser-default">
                <option *ngFor="let p of listaPersonas" [value]="p.id">
                  {{p.nombres}} {{p.apellidos}}
                </option>
              </select>
          </div>
          </div>

            <div class="row">
                <div class="input-field col s4">
                    <input formControlName="nombre" placeholder="" id="first_name" type="text" class="validate">
                    <label for="first_name" class="active">Nombre</label>
                </div>
                <div class="input-field col s4">
                  <label class="active">Tipo de Animal</label>  
                  <select formControlName="tipo" class="browser-default">
                        <option value="" disabled selected>Tipo</option>
                        <option value="Gato">Gato</option>
                        <option value="Perro">Perro</option>
                        <option value="Caballo">Caballo</option>
                    </select>
                </div>
                </div>
        
                <div class="row">
                <div class="input-field col s4">
                    <input formControlName="fechaNacimiento" id="bornDate" type="date" class="validate">
                    <label for="bornDate" class="active">Fecha Nacimiento</label>
                </div>
                <div class="input-field col s4">
                    <input formControlName="raza" placeholder="" id="raza" type="text" class="validate">
                    <label for="raza" class="active">Raza</label>
                </div>
                </div>
  
        
            <div class="row">
                <div class="input-field col s4">
                  <input formControlName="estatura" placeholder="" id="estatura" type="text" class="validate">
                  <label for="estatura" class="active">Estatura</label>
                </div>
                <div class="input-field col s4">
                  <input formControlName="colorPelaje" id="pelaje" type="text" class="validate">
                  <label for="pelaje" class="active">Color Pelaje</label>
                </div>
                <div class="input-field col s4">
                  <input formControlName="colorOjos" id="ojos" type="text" class="validate">
                  <label for="ojos" class="active">Color Ojos</label>
                </div>
              </div>
        </div>
        <div class="container">
          <button [disabled]="!fgValidador.valid" class="btn waves-effect waves-light" type="submit" name="action">Guardar</button>
        </div>
        
      </form>
    </div>
