<br>
<div class="container">
    <h3>Crear Solicitud de Atención Veterinaria</h3>
    <p>En esta sección se puede solicitar la visita de un veterianario para la atención.</p>
    <br>
  </div>
  
  <div class="row">
    <form [formGroup]="fgValidador" (ngSubmit)="GuardarSolicitud()" class="col s12">
        <div class="container">
            <div class="row">
                <div class="input-field col s4">
                    <select formControlName="mascotaId" class="browser-default">
                        <option value="" disabled selected>Mascota Enferma</option>
                        <option value="1">Kan</option>
                        <option value="2">Copito</option>
                        <option value="3">Benji</option>
                    </select>
                </div>
                <div class="input-field col s4">
                    <input formControlName="fecha" placeholder="" id="date" type="date" class="validate">
                    <label for="date">Fecha Requerida</label>
                </div>
            </div>
        
            <div class="row">
                <div class="input-field col s12">
                    <input formControlName="detalle" id="detalle" type="text" class="validate">
                    <label for="detalle">Detalle - Indique los sintomas del animal lo más detallado posible.</label>
                </div>
            </div>
  
        
            <div class="row">
                <div class="input-field col s4">
                    <label class="active">Usuario Propietario</label>
                    <select formControlName="personaId" class="browser-default">
                        <option *ngFor="let p of listaPersonas">
                            {{p.nombres}} {{p.apellidos}}
                        </option>
                    </select>
                </div>
                <div class="input-field col s4">
                    <label class="active">Veterinario a Atender</label>
                    <select formControlName="veterinarioId" class="browser-default">
                        <option *ngFor="let v of listaVeterinarios">
                            {{v.nombres}} {{v.apellidos}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="container">
            <button [disabled]="!fgValidador.valid" class="btn waves-effect waves-light" type="submit" name="action">Crear Solicitud de Visita</button>
        </div>
        
    </form>
</div>
