<a routerLink="/administracion/crear-mascota" class="btn">Nueva Mascota</a>
<table class="table responsive">
  <thead>
    <tr>
      <th>
        Nombre
      </th>
      <th>
        Tipo
      </th>
      <th>
        Raza
      </th>
      <th>
        Editar
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of listadoRegistros">
      <td>
        {{p.nombre}}
      </td>
      <td>
        {{p.tipo}}
      </td>
      <td>
        {{p.raza}}
      </td>
      <td>
        {{p.colorPelaje}}
      </td>
      <td>
        {{p.colorOjos}}
      </td>
      <td>
        {{p.fechaNacimiento}}
      </td>
      <td>
        <a routerLink="/administracion/editar-mascota/{{p.id}}" class="btn">Editar Mascota</a>
      </td>
    </tr>
  </tbody>
</table>