<br>
<div>
  <a routerLink="/administracion/crear-mascota" class="btn">Nueva Mascota</a>
</div>
<br>
<table class="table responsive">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Raza</th>
      <th>Fecha Nacimiento</th>
      <th>Pelaje</th>
      <th>Ojos</th>
      <th>Estatura (cm)</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of listaMascotas">
      <td>{{m.nombre}}</td>
      <td>{{m.tipo}}</td>
      <td>{{m.raza}}</td>
      <td>{{m.fechaNacimiento}}</td>
      <td>{{m.colorPelaje}}</td>
      <td>{{m.colorOjos}}</td>
      <td>{{m.estatura}}</td>
      <td><a routerLink="/administracion/editar-mascota/{{m.id}}" class="btn">Editar</a></td>
      <td><a routerLink="/administracion/eliminar-mascota/{{m.id}}" class="btn">Eliminar</a></td>
    </tr>
  </tbody>
</table>
<p>Mascotas registradas en el sistema: {{cantidadMascotas.count}}</p>