<br>
<div>
  <a routerLink="/solicitudes/crear-solicitud" class="btn">Nueva Solicitud</a>
</div>
<br>
<table class="table responsive">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Detalle</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of listaSolicitudes">
      <td>{{s.fecha}}</td>
      <td>{{s.detalle}}</td>
      <td><a routerLink="/solicitudes/editar-solicitud/{{s.id}}" class="btn">Editar</a></td>
      <td><a routerLink="/solicitudes/eliminar-solicitud/{{s.id}}" class="btn">Eliminar</a></td>
    </tr>
  </tbody>
</table>
<p>Solicitudes de visita veterinaria registradas en el sistema: {{cantidadSolicitudes.count}}</p>