<br>
<div class="container">
    <h3>Buscar Solicitud </h3>
    <p>Indique los campos para busqueda.</p>
    <br>
  </div>
  
  <div class="row">
      <form class="col s12">
        <div class="container">
            <div class="row">
                <div class="input-field col s4">
                    <select class="browser-default">
                        <option value="" disabled selected>Mascota Enferma</option>
                        <option value="1">Kan</option>
                        <option value="2">Copito</option>
                        <option value="3">Benji</option>
                    </select>
                </div>
                <div class="input-field col s4">
                    <input placeholder="" id="date" type="date" class="validate">
                    <label for="date">Fecha Requerida</label>
                </div>
            </div>
        
            <div class="row">
                <div class="input-field col s12">
                    <input id="detalle" type="text" class="validate">
                    <label for="detalle">Detalle - Indique los sintomas del animal lo más detallado posible.</label>
                </div>
            </div>
  
        
            <div class="row">
                <div class="input-field col s4">
                    <select class="browser-default">
                        <option value="" disabled selected>Persona Solicitante</option>
                        <option value="1">Claudia</option>
                        <option value="2">Armando</option>
                        <option value="3">Ramiro</option>
                    </select>
                </div>
                <div class="input-field col s4">
                    <select class="browser-default">
                        <option value="" disabled selected>Veterinario a Atender</option>
                        <option value="1">Alejandro</option>
                        <option value="2">Camilo</option>
                        <option value="3">Raul</option>
                    </select>
                </div>
            </div>
        </div>
        
      </form>
      <br>
      <div class="container">
        <button class="btn waves-effect waves-light" type="submit" name="action">Buscar Solicitud</button>
      </div>
      
      <br>
    </div>

