<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://i.ibb.co/mcmjbjM/Veterinary-logo-Illustration-for-pet-shop-Stylized-logo-with-a-dog-and-a-cat.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      PetFriend
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li *ngIf="seInicioSesion" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="administracion/listar-personas" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Personas
          </a>
        </li>
        <li *ngIf="seInicioSesion" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="administracion/listar-mascotas" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mascotas
          </a>
        </li>
        <li *ngIf="seInicioSesion" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="administracion/listar-veterinarios" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Veterinarios
          </a>
        </li>
        <li *ngIf="seInicioSesion" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Veterinarias
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="administracion/crear-veterinaria">Crear Veterinaria</a></li>
            <li><a class="dropdown-item" routerLink="administracion/editar-veterinaria">Editar Veterinaria</a></li>
            <li><a class="dropdown-item" routerLink="administracion/buscar-veterinaria">Buscar Veterinaria</a></li>
          </ul>
        </li>
        <li *ngIf="seInicioSesion" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="solicitudes/listar-solicitudes" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Solicitudes
          </a>
        </li>
        <li *ngIf="seInicioSesion" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Visitas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="visita/hacer-visita">Hacer Visita</a></li>
            <li><a class="dropdown-item" routerLink="#">Ver Visitas</a></li>
          </ul>
        </li>

      </ul>
    </div>
    <a *ngIf="!seInicioSesion" class="nav-link text-dark" routerLink="seguridad/identificacion">Login</a>
    <a *ngIf="seInicioSesion" class="nav-link text-dark" routerLink="seguridad/cerrar-sesion">Logout</a>
  </div>
</nav>