<br>
<div class="container">
  <h3>Cambiar Contraseña</h3>
  <p>Utilice estos para realizar el cambio de su contraseña como usuario o veterinario.</p>
</div>

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="claveAnterior" type="text" class="validate">
          <label for="claveAnterior">Clave Anterior</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="claveNueva" type="text" class="validate">
          <label for="claveNueva">Clave Nueva</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="confClaveNueva" type="text" class="validate">
          <label for="confClaveNueva">Confirmar Clave Nueva</label>
        </div>
      </div>
    </form>
    <br>
    <div class="container">
      <button class="btn waves-effect waves-light" type="submit" name="action">Cambiar Contraseña</button>
    </div>
    
    <br>
  </div>

