<a routerLink="/visita/hacer-visita" class ="btn"> Nueva Visita</a>
<table class='table responsive'>
  <thead>
    <!-- Fila -->
    <tr>
      <th>Fecha</th>
      <th>Temperatura</th>
      <th>Peso</th>
      <th>Frecuencia Cardiaca</th>
      <th>Frecuencia Respiratoria</th>
      <th>Estado</th>
      <th>Observaciones</th>
      <th>Medicinas</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    <!-- Trae todos los parametros -->
    <tr *ngFor="let visita of listadoRegistros">
      <td> {{visita.fecha}}</td>
      <td> {{visita.temperatura}}</td>
      <td> {{visita.peso}}</td>
      <td> {{visita.frecCardiaca}}</td>
      <td> {{visita.frecRespiratoria}}</td>
      <td> {{visita.estado}}</td>
      <td> {{visita.observaciones}}</td>
      <td> {{visita.medicinas}}</td>
      <td><a routerLink="/visita/editar-visita/{{visita.id}}" class="btn">Editar Visita</a></td>
    </tr>
  </tbody>
</table>