<br>
<div class="container">
    <h3>Editar Veterinario</h3>
    <p>Realice los cambios necesarios</p>
  </div>
  
  <div class="row">
      <form [formGroup]="fgValidador" (ngSubmit)="EditarVeterinario()" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input formControlName="nombres" placeholder="" id="first_name" type="text" class="validate">
            <label for="first_name" class="active">Nombres</label>
          </div>
          <div class="input-field col s6">
            <input formControlName="apellidos" id="last_name" type="text" class="validate">
            <label for="last_name" class="active">Apellidos</label>
          </div>
        </div>
  
        <div class="row">
          <div class="input-field col s6">
            <input formControlName="correo" id="email" type="email" class="validate">
            <label for="email" class="active">Correo</label>
          </div>
          <div class="input-field col s6">
            <input formControlName="identificacion" placeholder="" id="identificacion" type="text" class="validate">
            <label for="identificacion" class="active">Identificación</label>
          </div>
          <div class="input-field col s4">
            <label class="active">Veterinaria Asignada</label>
            <select formControlName="veterinariaId" class="browser-default">
                <option *ngFor="let v of listaVeterinarias" [value]="v.id">
                    {{v.nombre}} - {{v.nit}}
                </option>
            </select>
          </div>
        </div>
  
        <div class="row">
          <div class="input-field col s4">
            <input formControlName="licencia" placeholder="" id="licencia" type="text" class="validate">
            <label for="licencia" class="active">Licencia</label>
          </div>
          <div class="input-field col s4">
            <input formControlName="celular" id="celular" type="text" class="validate">
            <label for="celular" class="active">Celular</label>
          </div>
          <div class="input-field col s4">
            <input formControlName="especialidad" id="especialidad" type="text" class="validate">
            <label for="espacialidad" class="active">Especialidad</label>
          </div>
        </div>
        <div class="container">
          <button [disabled]="!fgValidador.valid" class="btn waves-effect waves-light" type="submit" name="action">Guardar</button>
        </div>

      </form>
      <br>
      
      
      <br>
    </div>
